<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
</head>
<body>
<script type="text/html">
<div class="body-wrap">
    <div class="shop-info">
        <span class="shop-logo">
            <img class="logo" src="/60/2a/TB1pUDTj5pE_u4jSZKbSuvCUVXa.jpg">
        </span><span class="shop-title" id="share_desc">璞诱旗舰店</span>
        <div id="mx_6">
            <div class="coupons-wrap noFollow">
                                <button class="coupons-container js-can js-ready" id="tkl_open" data-clipboard-text="">
                    <span class="coupons-price"><strong>¥</strong>60</span><span class="coupons-info">使用期限</span>
                    <span class="coupons-data"><span class="coupons-data-icon">限</span>2020.12.01-2020.12.31</span>
                    <span class="coupons-btn">立即领券</span>
                </button>            </div>
        </div>
    </div>
    <div class="item-detail-view" id="mx_4">
        <div class="item-wrap">
            <a href="/detail/633240667694.html?durl=taeabb0f0f504d7ae93e225b93e80484c" class="item-detail">
                <div class="pic">
                    <img src="//img.alicdn.com/bao/uploaded/i2/2208156096794/O1CN01V3p2Kw203hVwJARio_!!0-item_pic.jpg" id="share_imgurl">
                </div>
                <div class="item-content">
                    <div class="title">
                        <span id="share_title">璞诱旗舰店55号魔术无痕粉底刷不吃粉底液专用化妆刷 1</span>
                    </div>
                    <div class="tags">
                                                                        <span class="dealNum">983笔成交</span>
                    </div>
                    <div class="price-origin">
                        <span class="origin">现价：¥89.9</span>
                    </div>
                    <div class="discount">
                        <img class="img-tag" src="//gw.alicdn.com/tps/TB1Y1XlNpXXXXczapXXXXXXXXXX-93-36.png">
                        <span class="sale"><em>¥</em>29.9</span>
                    </div>                </div>
            </a>
            <a href="/detail/633240667694.html?durl=taeabb0f0f504d7ae93e225b93e80484c" class="link">查看详情
                <svg class="link-arrow" viewbox="0 0 200 200">
                    <g transform="scale(0.1953125, 0.1953125)">
                        <path d="M282.7264 1004.714667c8.738133 0 17.476267-3.345067 24.132267-10.001067l458.615467-458.5472c13.346133-13.346133 13.346133-34.9184 0-48.264533L306.858667 29.2864c-13.346133-13.346133-34.9184-13.346133-48.264533 0s-13.346133 34.9184 0 48.264533L693.077333 512 258.594133 946.449067c-13.346133 13.346133-13.346133 34.9184 0 48.264533C265.250133 1001.3696 273.988267 1004.714667 282.7264 1004.714667z"
                            fill="#272636">
                        </path>
                    </g>
                </svg>
            </a>
        </div>
    </div>
    <div class="activity-rules">
        <div class="activity-title">
            <span class="line"></span><span class="title">活动说明</span>
        </div>
        <span class="rule-line">1. 点击“立即领取”按钮，领取成功后购买商品时使用，即可享受优惠。</span> <span class="rule-line">
            2. 在手机-我的-卡券包-网店优惠券，可查询已发放到账户的优惠券。</span> <span class="rule-line">3. 因商品参与其它活动等原因，付款时优惠券可能无法使用，此时商品最终成交价以您实际付款时提示金额为准。</span>
        <span class="rule-line">4. 获取、使用优惠券时如存在违规行为（作弊领取、恶意套现、刷取信誉、虚假交易等），将取消用户领取资格、撤销违规交易且收回全部优惠券（含已使用及未使用的），必要时追究法律责任。</span>
    </div>
    <div class="activity-rules">
        <div class="activity-title">
            <span class="line"></span><span class="title">规则声明</span>
        </div>
        <span class="rule-line">上传至该页面的商品与优惠券信息，会被阿里集团官方收录并给其他用户使用。上传者上传此类信息的，表明上传者已与商家达成一致，即商家同意官方收录且给其他用户使用。如商家不同意，请上传者不要上传，如否导致的纠纷由上传者解决并承担责任。</span>
    </div>
</div>
</script>
</body>
</html>